body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-image: url('images/Background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

#score {
    -webkit-text-stroke: 2px black;
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    margin: 10px 0px 0px 10px;
}

#randomPokemon {
    -webkit-text-stroke: 2px black;
    font-size: 40px;
    font-family: sans-serif;
    color: red;
    margin: 0px 0px 0px 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex: 1;
}

.container1 {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.container2 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.container3 {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
}

#textbox {
    background-color: white;
    border-radius: 40px;
    border: 7px solid lightblue;
    outline: 5px solid rgb(91, 188, 221);
    width: 1000px;
    height: 150px;
}

#message {
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 37.5px;
    justify-content: center;
    align-items: center;
    color: black;
}

button {
    height: 300px;
    width: 300px;
    font-size: 40px;
    border-radius: 15px;
    border-width: 8px;
    border-color: black;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#charmander {
    background-color: rgb(255, 0, 0);
    background-image: url('images/Charmander.png');
    background-position: center;
    background-size: 100% 100%;
}

#bulbasaur {
    background-color: rgb(9, 255, 132);
    background-image: url('images/Bulbasaur.png');
    background-position: center;
    background-size: 100% 100%;
}

#squirtle {
    background-color: aqua;
    background-image: url('images/Squirtle.png');
    background-position: center;
    background-size: 100% 100%;
}

#icon {
    height: 75px;
    width: 75px;
    margin: 0px 0px 10px 10px;
}
#icon:hover {
    cursor: pointer;
}
